In [ ]:
import pandas as pd
import numpy as np

:

In [65]:
data=pd.read_csv("./data/gemstone.csv")

In [66]:
data.head()

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,124589,2.20,Very Good,H,SI2,61.7,59.0,8.34,8.41,5.18,18001
1,193368,0.52,Very Good,D,VS2,63.2,58.0,5.08,5.11,3.22,1692
2,88147,0.47,Premium,F,SI2,59.7,61.0,5.04,5.01,3.01,984
3,153848,1.26,Ideal,G,VS1,61.1,57.0,7.03,7.01,4.27,8703
4,80008,0.70,Very Good,G,VS2,61.9,61.0,5.69,5.74,3.53,2648

In [67]:
data.drop(labels=["id"],axis=1,inplace=True)

In [68]:
data.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   2.20  Very Good     H     SI2   61.7   59.0  8.34  8.41  5.18  18001
1   0.52  Very Good     D     VS2   63.2   58.0  5.08  5.11  3.22   1692
2   0.47    Premium     F     SI2   59.7   61.0  5.04  5.01  3.01    984
3   1.26      Ideal     G     VS1   61.1   57.0  7.03  7.01  4.27   8703
4   0.70  Very Good     G     VS2   61.9   61.0  5.69  5.74  3.53   2648

create model we need independent and dependent variables

In [70]:
x=data.drop(labels=["price"],axis=1)

In [71]:
x

        carat        cut color clarity  depth  table     x     y     z
0        2.20  Very Good     H     SI2   61.7   59.0  8.34  8.41  5.18
1        0.52  Very Good     D     VS2   63.2   58.0  5.08  5.11  3.22
2        0.47    Premium     F     SI2   59.7   61.0  5.04  5.01  3.01
3        1.26      Ideal     G     VS1   61.1   57.0  7.03  7.01  4.27
4        0.70  Very Good     G     VS2   61.9   61.0  5.69  5.74  3.53
...       ...        ...   ...     ...    ...    ...   ...   ...   ...
145174   0.79      Ideal     I     SI1   62.2   56.0  5.98  5.95  3.69
145175   2.17      Ideal     I     SI2   61.9   55.0  8.29  8.33  5.16
145176   0.75  Very Good     F     VS2   62.7   59.0  5.74  5.79  3.61
145177   1.00  Very Good     F     SI2   62.5   60.0  6.34  6.31  3.96
145178   0.72      Ideal     D     VS1   62.4   53.0  5.74  5.77  3.59

[145179 rows x 9 columns]

In [72]:
y=data["price"]

In [73]:
y

0         18001
1          1692
2           984
3          8703
4          2648
          ...
145174     2789
145175    13393
145176     2937
145177     4541
145178     3256
Name: price, Length: 145179, dtype: int64

In [78]:
categorical_cols=x.select_dtypes(include="object").columns
categorical_cols

Index(['cut', 'color', 'clarity'], dtype='object')

In [80]:
numerical_cols=x.select_dtypes(exclude="object").columns

In [81]:
numerical_cols

Index(['carat', 'depth', 'table', 'x', 'y', 'z'], dtype='object')

In [82]:
numerical_cols=x.select_dtypes(exclude="object")

In [83]:
numerical_cols

        carat  depth  table     x     y     z
0        2.20   61.7   59.0  8.34  8.41  5.18
1        0.52   63.2   58.0  5.08  5.11  3.22
2        0.47   59.7   61.0  5.04  5.01  3.01
3        1.26   61.1   57.0  7.03  7.01  4.27
4        0.70   61.9   61.0  5.69  5.74  3.53
...       ...    ...    ...   ...   ...   ...
145174   0.79   62.2   56.0  5.98  5.95  3.69
145175   2.17   61.9   55.0  8.29  8.33  5.16
145176   0.75   62.7   59.0  5.74  5.79  3.61
145177   1.00   62.5   60.0  6.34  6.31  3.96
145178   0.72   62.4   53.0  5.74  5.77  3.59

[145179 rows x 6 columns]

In [84]:
from sklearn.impute import SimpleImputer  # handling missing values
from sklearn.preprocessing import StandardScaler # handling feature scaling
from sklearn.preprocessing import OrdinalEncoder  # ordinal encoding

pipeline

In [85]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer