In [2]:
#
#ingest the data pipeline data engineer

Introduction About the Data :
The dataset The goal is to predict price of given diamond (Regression Analysis).

There are 10 independent variables (including id):

id : unique identifier of each diamond
carat : Carat (ct.) refers to the unique unit of weight measurement used exclusively to weigh gemstones and diamonds.
cut : Quality of Diamond Cut
color : Color of Diamond
clarity : Diamond clarity is a measure of the purity and rarity of the stone, graded by the visibility of these characteristics under 10-power magnification.
depth : The depth of diamond is its height (in millimeters) measured from the culet (bottom tip) to the table (flat, top surface)
table : A diamond's table is the facet which can be seen when the stone is viewed face up.
x : Diamond X dimension
y : Diamond Y dimension
x : Diamond Z dimension
Target variable:

price: Price of the given Diamond.
Dataset Source Link : https://www.kaggle.com/competitions/playground-series-s3e8/data?select=train.csv

Data Exploration

In [2]:
#pip install ipykernel

In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\python\python39\lib\site-packages\pandas-2.1.1-py3.9-win-amd64.egg (2.1.1)
Requirement already satisfied: numpy>=1.22.4 in c:\python\python39\lib\site-packages\numpy-1.26.1-py3.9-win-amd64.egg (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python\python39\lib\site-packages\pytz-2023.3.post1-py3.9.egg (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\python\python39\lib\site-packages\tzdata-2023.3-py3.9.egg (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\python\python39\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: c:\python\python39\python.exe -m pip install --upgrade pip

In [12]:
%pip install pandas

Collecting pandas
  Using cached pandas-2.0.3-cp38-cp38-win_amd64.whl.metadata (18 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in f:\ineauron_course\ml_projects\project\evn\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Collecting numpy>=1.20.3 (from pandas)
  Using cached numpy-1.24.4-cp38-cp38-win_amd64.whl.metadata (5.6 kB)
Requirement already satisfied: six>=1.5 in f:\ineauron_course\ml_projects\project\evn\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.0.3-cp38-cp38-win_amd64.whl (10.8 MB)
Using cached numpy-1.24.4-cp38-cp38-win_amd64.whl (14.9 MB)
Using cached pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.24.4 pandas-2.0.3 pytz-2023.3.post1 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script f2py.exe is installed in 'f:\ineauron_course\ML_PROJECTS\Project\evn\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

In [13]:
import pandas as pd

In [17]:
data=pd.read_csv(r"F:\ineauron_course\ML_PROJECTS\Project\notebooks\data\gemstone.csv")
data

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,124589,2.20,Very Good,H,SI2,61.7,59.0,8.34,8.41,5.18,18001
1,193368,0.52,Very Good,D,VS2,63.2,58.0,5.08,5.11,3.22,1692
2,88147,0.47,Premium,F,SI2,59.7,61.0,5.04,5.01,3.01,984
3,153848,1.26,Ideal,G,VS1,61.1,57.0,7.03,7.01,4.27,8703
4,80008,0.70,Very Good,G,VS2,61.9,61.0,5.69,5.74,3.53,2648
...,...,...,...,...,...,...,...,...,...,...,...
145174,83828,0.79,Ideal,I,SI1,62.2,56.0,5.98,5.95,3.69,2789
145175,35616,2.17,Ideal,I,SI2,61.9,55.0,8.29,8.33,5.16,13393
145176,112476,0.75,Very Good,F,VS2,62.7,59.0,5.74,5.79,3.61,2937
145177,105635,1.00,Very Good,F,SI2,62.5,60.0,6.34,6.31,3.96,4541
145178,100506,0.72,Ideal,D,VS1,62.4,53.0,5.74,5.77,3.59,3256

In [18]:
data.head()

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,124589,2.20,Very Good,H,SI2,61.7,59.0,8.34,8.41,5.18,18001
1,193368,0.52,Very Good,D,VS2,63.2,58.0,5.08,5.11,3.22,1692
2,88147,0.47,Premium,F,SI2,59.7,61.0,5.04,5.01,3.01,984
3,153848,1.26,Ideal,G,VS1,61.1,57.0,7.03,7.01,4.27,8703
4,80008,0.70,Very Good,G,VS2,61.9,61.0,5.69,5.74,3.53,2648

In [19]:
data.tail()

,id,carat,cut,color,clarity,depth,table,x,y,z,price
145174,83828,0.79,Ideal,I,SI1,62.2,56.0,5.98,5.95,3.69,2789
145175,35616,2.17,Ideal,I,SI2,61.9,55.0,8.29,8.33,5.16,13393
145176,112476,0.75,Very Good,F,VS2,62.7,59.0,5.74,5.79,3.61,2937
145177,105635,1.00,Very Good,F,SI2,62.5,60.0,6.34,6.31,3.96,4541
145178,100506,0.72,Ideal,D,VS1,62.4,53.0,5.74,5.77,3.59,3256

In [20]:
data.sample(5)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
21720,15635,0.30,Premium,H,SI1,62.5,58.0,4.26,4.23,2.66,442
3106,94375,1.01,Premium,H,VS2,59.3,58.0,6.55,6.51,3.88,5154
104508,64629,0.50,Very Good,E,SI2,61.9,58.0,5.07,5.11,3.15,1120
140802,101825,0.31,Very Good,H,VS2,63.5,56.0,4.29,4.33,2.73,473
60290,67697,0.31,Premium,G,VS1,63.0,58.0,4.31,4.27,2.70,625

In [21]:
data.isnull().sum()  # we dont have missing values

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145179 entries, 0 to 145178
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       145179 non-null  int64
 1   carat    145179 non-null  float64
 2   cut      145179 non-null  object
 3   color    145179 non-null  object
 4   clarity  145179 non-null  object
 5   depth    145179 non-null  float64
 6   table    145179 non-null  float64
 7   x        145179 non-null  float64
 8   y        145179 non-null  float64
 9   z        145179 non-null  float64
 10  price    145179 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 12.2+ MB

In [30]:
# drop id column because no use of that
data=data.drop(labels=["id"],axis=1)
data

        carat        cut color clarity  depth  table     x     y     z  price
0        2.20  Very Good     H     SI2   61.7   59.0  8.34  8.41  5.18  18001
1        0.52  Very Good     D     VS2   63.2   58.0  5.08  5.11  3.22   1692
2        0.47    Premium     F     SI2   59.7   61.0  5.04  5.01  3.01    984
3        1.26      Ideal     G     VS1   61.1   57.0  7.03  7.01  4.27   8703
4        0.70  Very Good     G     VS2   61.9   61.0  5.69  5.74  3.53   2648
...       ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
145174   0.79      Ideal     I     SI1   62.2   56.0  5.98  5.95  3.69   2789
145175   2.17      Ideal     I     SI2   61.9   55.0  8.29  8.33  5.16  13393
145176   0.75  Very Good     F     VS2   62.7   59.0  5.74  5.79  3.61   2937
145177   1.00  Very Good     F     SI2   62.5   60.0  6.34  6.31  3.96   4541
145178   0.72      Ideal     D     VS1   62.4   53.0  5.74  5.77  3.59   3256

[145179 rows x 10 columns]

In [32]:
data.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
145174    False
145175    False
145176    False
145177    False
145178    False
Length: 145179, dtype: bool

In [33]:
data.duplicated().sum()

0

In [34]:
data.shape

(145179, 10)

seperate numerical and categorical data

In [37]:
data.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

In [65]:
categorical_columns=data.columns[data.dtypes=="object"]
categorical_columns

Index(['cut', 'color', 'clarity'], dtype='object')

In [66]:
numerical_columns=data.columns[data.dtypes!="object"]
numerical_columns

Index(['carat', 'depth', 'table', 'x', 'y', 'z', 'price'], dtype='object')

In [67]:
data[numerical_columns]

        carat  depth  table     x     y     z  price
0        2.20   61.7   59.0  8.34  8.41  5.18  18001
1        0.52   63.2   58.0  5.08  5.11  3.22   1692
2        0.47   59.7   61.0  5.04  5.01  3.01    984
3        1.26   61.1   57.0  7.03  7.01  4.27   8703
4        0.70   61.9   61.0  5.69  5.74  3.53   2648
...       ...    ...    ...   ...   ...   ...    ...
145174   0.79   62.2   56.0  5.98  5.95  3.69   2789
145175   2.17   61.9   55.0  8.29  8.33  5.16  13393
145176   0.75   62.7   59.0  5.74  5.79  3.61   2937
145177   1.00   62.5   60.0  6.34  6.31  3.96   4541
145178   0.72   62.4   53.0  5.74  5.77  3.59   3256

[145179 rows x 7 columns]

In [68]:
data[categorical_columns]

              cut color clarity
0       Very Good     H     SI2
1       Very Good     D     VS2
2         Premium     F     SI2
3           Ideal     G     VS1
4       Very Good     G     VS2
...           ...   ...     ...
145174      Ideal     I     SI1
145175      Ideal     I     SI2
145176  Very Good     F     VS2
145177  Very Good     F     SI2
145178      Ideal     D     VS1

[145179 rows x 3 columns]

In [71]:
data[numerical_columns].describe().T

,count,mean,std,min,25%,50%,75%,max
carat,145179.0,0.791452,0.462528,0.2,0.40,0.70,1.03,3.04
depth,145179.0,61.821666,1.081253,52.1,61.30,61.90,62.40,71.60
table,145179.0,57.230009,1.914742,49.0,56.00,57.00,58.00,79.00
x,145179.0,5.717494,1.108858,0.0,4.70,5.71,6.51,9.51
y,145179.0,5.722295,1.101791,0.0,4.71,5.72,6.51,9.46
z,145179.0,3.535756,0.689774,0.0,2.91,3.53,4.03,31.30
price,145179.0,3976.157151,4038.134257,326.0,954.00,2405.00,5412.00,18818.00

In [70]:
data[categorical_columns].describe().

           cut   color clarity
count   145179  145179  145179
unique       5       7       8
top      Ideal       G     SI1
freq     69234   33298   39976

In [72]:
data[categorical_columns]["cut"].value_counts()

cut
Ideal        69234
Premium      37517
Very Good    28246
Good          8645
Fair          1537
Name: count, dtype: int64

In [74]:
data[categorical_columns]["color"].value_counts()

color
G    33298
E    26955
F    25708
H    23102
D    18138
I    13189
J     4789
Name: count, dtype: int64

https://www.vrai.com/journal/post/diamond-cut

In [76]:
data[categorical_columns]["clarity"].value_counts()

clarity
SI1     39976
VS2     36042
VS1     22968
SI2     22930
VVS2    11829
VVS1     7916
IF       3133
I1        385
Name: count, dtype: int64